{% extends 'ArtePCMSPublicBundle:TBProjectMaster:layout.html.twig' %}


{% block body -%}

        <form action="{{ path('test') }}" novalidate method="post" {{ form_enctype(form) }} name="project_new_form">


            {{ form_widget(form) }}


            <input type="submit"/>
        </form>
{#
        {{ form_end(form) }}
#}


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[

        //]]>
    </script>
{% endblock %}
